$bodyBg: rgb(212, 219, 238);
$mainBg: rgb(247, 247, 247);
$mainColor: #f57e47;
$txtColor: rgb(0, 0, 0);
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeSmall: 1rem;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.35rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 250px;
$sideBarLogoHeight: 150px;
$spacing: 20px;
$mobileSpacing: 24px;
$borderRadius: 10px;

$mobile-width: 600px;
$tablet-width: 1366px;