.nano {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .box {
    width: 100%;
    height: 80px;
    background-color: #fffdfdec;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;

    .select_value {
      padding-left: 15px;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      .value {
        padding-left: 5px;
        color: white;
        width: 200px;
        height: 30px;
      }
    }
    .time {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      padding-right: 20px;
      gap: 20px;
      .start {
        display: flex;
        flex-direction: row;
        gap: 20px;
        input {
          height: 30px;
          color: white;
        }
      }
      .end {
        display: flex;
        flex-direction: row;
        gap: 25px;
        input {
          height: 30px;
          color: white;
        }
      }
    }
    .last_value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }
    .last {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }
  }
  
  .graph {
    width: 100%;
    height: 790px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffd5;
  }
}

.overlay-table{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .7);
  z-index: 1000;

  .load {
    position: fixed;
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .loader {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 32px);
      width: 64px;
      height: 64px;
      border-radius: 50%;
      perspective: 800px;
    }
  
    .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  
    .inner.one {
      left: 0%;
      top: 0%;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #efeffa;
    }
  
    .inner.two {
      right: 0%;
      top: 0%;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #efeffa;
    }
  
    .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #efeffa;
    }
  
    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }
  
    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }
  
    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }
  }
}

