.nano {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .box {
    width: 100%;
    height: 80px;
    background-color: #fffdfdec;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;

    .select_value {
      padding-left: 15px;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      .value {
        padding-left: 5px;
        color: white;
        width: 200px;
        height: 30px;
      }
    }
    .time {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      padding-right: 20px;
      gap: 20px;
      .start {
        display: flex;
        flex-direction: row;
        gap: 20px;
        input {
          height: 30px;
          color: white;
        }
      }
      .end {
        display: flex;
        flex-direction: row;
        gap: 25px;
        input {
          height: 30px;
          color: white;
        }
      }
    }
    .last_value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }
    .last {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }
  }
  
  .graph {
    width: 100%;
    height: 790px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffd5;
  }
}